*.a
*.o
*.so
*.mo
*.pyc
*~
.svn

# exclude little turds left about by git during a merge
*.orig

# grunt and jasmine stuff
_SpecRunner.html
.grunt

# javascript component directories to ignore
bower_components
node_modules
#3rdparty
